
<div class="hero">
  <br />
  <div class= "frosted-box col-10 offset-1 text-center">
    <br />
    <h1 class= "pagehead">Athanaeum</h1>
    <div class= "subhead">
      <h3>Your own personal library tracker!</h3>
    </div>
    <br />
    <%= link_to 'Get Started', '#', class: 'btn btn-success' %>
    <br />
    <br />
  </div>
</div>

