@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Bilbo+Swash+Caps|Cinzel+Decorative|Crimson+Text|Satisfy|Special+Elite&display=swap');

.btn-success {
  background-color: rgb(54, 71, 108);
}

.btn-success:hover {
  background-color: rgb(64, 54, 108);
}

.btn-info {
  margin-top: 5px;
} 

.searchbar {
  align: right;
  margin-right: 20px;
}

.frosted-box {
  background: rgba(0, 0, 0, 0.5);
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 5px;
  font-family: 'Crimson Text', serif;
  color: #FFFFFF;
  box-shadow: 0px 1px 10px #2a2a2a;
}

.bookdisplay td {
  padding-left: 10px;
  padding-right: 10px;
}

.bookInfo {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

#searchplace {
  margin-top: 10px;
  margin-right: 10px;
}

.hero {
  background: image_url('library_cropped.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 350px;
  box-shadow: 0px 3px 8px #2a2a2a;
  }

.navbar {
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('micro_carbon.png'); 
}

.navbar-brand  {
  font-family: 'Cinzel Decorative', cursive;
  letter-spacing: 0em;
  text-shadow: 3px 2px rgb(15, 55, 142);
  color: rgb(213, 225, 250);
}

.pagehead {
  font-family: 'Cinzel Decorative', cursive;
  text-decoration: underline;
  text-shadow: 3px 2px rgb(15, 55, 142);
  color: rgb(213, 225, 250);
}

.myinfo {
  font-size: 1.5em;
}

.sectionhead {
  font-family: 'Special Elite', cursive;
  text-decoration: underline;
  text-shadow: 3px 2px rgb(15, 55, 142);
  color: rgb(213, 225, 250);
  
}

.LibraryTitle {
  text-shadow: 3px 2px rgb(15, 55, 142);
  color: rgb(213, 225, 250);
  font-family: 'Special Elite', cursive;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.LibraryDescrip {
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
  margin-top: 5px;
}

.DashTitle {
  font-size: 3.5em;
  text-decoration: underline;
  font-family: 'Cinzel Decorative', cursive;
  text-shadow: 3px 2px rgb(255, 255, 255);
  color: rgb(15, 55, 142);
  margin-top: 20px;
}

.shadow-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: rgba(179, 207, 255, 0.7);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  font-family: 'Crimson Text', serif;
}

.subhead {
  font-family: 'Special Elite', cursive;
  color: rgb(129, 165, 242);
  text-shadow: 2px 2px rgb(54, 71, 108);
}

.rowheader {
  font-family: 'Special Elite', cursive;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.5em;
}

body {
  background: image_url('textured_paper.png');
  font-family: 'Crimson Text', serif;
}

hr.mystyle {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double rgb(222, 226, 236);
  color: rgb(222, 226, 236);
  text-align: center;
  position: relative;
  text-align: center;
}

hr.mystyle:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.5em;
}

.library-actions {
  margin-left: 15px;
  margin-top: 5px;
  font-family: 'Crimson Text', serif;
}

#copy_status {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
}

.img-thumb {
  width: 50px;
  height: auto;
}

.bookdisplay {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin-bottom: 5px;
}

.bookdisplay2 {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 25%;
}

.bookhead {
  font-family: 'Special Elite', cursive;
  color: rgb(129, 165, 242);
  text-align: center;
  width: 100%;
}
